@use '../util/' as *;

body {
    font-family: 'Poppins', sans-serif;
    font-size: rem(16);
    color: white;
}

.text {
    text-align: center;

    @include breakpoint(large) {
        text-align: left;
    }


    &__header {
        font-size: rem(28);
        line-height: rem(36);
        font-weight: 700;

        @include breakpoint(large) {
            font-size: rem(54);
            line-height: rem(56);
        }
    }

    &__para {
        font-weight: 500;
    }
}

.panel {
    text-align: center;

    &__try {
        font-size: rem(14);
        font-weight: 400;
        
        span {
            font-weight: 700;
        }
    }
}

.form {
    &__input {
        color: $dark-blue;
        &__text {
        font-size: rem(12);
        font-weight: 600;
            &:focus {
                color: $dark-blue;
            }
        }

        &__error {
            div {
                text-align: right;
                color: $red;
                font-size: rem(10);
                font-style: oblique;
                font-weight: 600;
            }
        }

        &__btn {
            font-family: 'Poppins', sans-serif;
            font-size: rem(16);
            font-weight: 700;
            text-transform: uppercase;
            color: white;
        }


    }

    ::placeholder {
        font-family: 'Poppins', sans-serif;
        font-size: rem(14);
        font-weight: 600;
    }

    &__terms {
        font-size: rem(10);
        font-weight: 400;
        color: $grayish-blue;

        span {
            color: $red;
            font-weight: 700;
        }
    }
}